<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New Item</title>
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>

    <a href="/seed/">back</a>

    <h1>New Item page</h1>

    <form action="/seed" method="POST">

      Name: <input type="text" name="name" value="..." /><br />

      Description: <input type="text"
      name="description" value="..."/><br />

      Image: <input type="text" name="img" value="..." /><br />

      Price: <input type="text" name="price" value="..." /><br />     

    <input type="submit" value="Add Item">

</form>
  </body>
</html>
